node_modules/
dist/
build/
.DS_Store
.idea/
.vscode/
.gradle/
**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/pubspec.lock
**/Pods/
**/.symlinks/
**/.build/
.devenv.flake.nix

local.properties

.devenv/
g